.green-alt .page-head .page-title {
  color: #58B19F;
}

.green-alt .page-head .page-description {
  color: #58B19F;
}

.green-alt .aboutUS .contentBox h2 {
  color: #58B19F;
}

.green-alt .aboutUS .contentBox p {
  color: #58B19F;
}

.green-alt .ourServices .servicesBox .serviceColl h2 {
  color: #58B19F;
}

.green-alt .ourServices .servicesBox h2 {
  color: #58B19F;
}

.green-alt .ourWork .workBox h2 {
  color: #58B19F;
}

.green-alt .showImage .card h2 {
  color: #58B19F;
}

.green-alt .showImage .card p {
  color: #58B19F;
}

.green-alt .contact .container h2 {
  color: #58B19F;
}

.green-alt .contact .container .right input {
  color: #58B19F;
}

.green-alt .contact .container .info .label {
  color: #58B19F;
}

.green-alt .contact .container .info a {
  color: #58B19F;
}

.green-alt .contact .container .info .social {
  color: #58B19F;
}

.lite-blue .page-head .page-title {
  color: #0652DD;
}

.lite-blue .page-head .page-description {
  color: #0652DD;
}

.lite-blue .aboutUS .contentBox h2 {
  color: #0652DD;
}

.lite-blue .aboutUS .contentBox p {
  color: #0652DD;
}

.lite-blue .ourServices .servicesBox .serviceColl h2 {
  color: #0652DD;
}

.lite-blue .ourServices .servicesBox h2 {
  color: #0652DD;
}

.lite-blue .ourWork .workBox h2 {
  color: #0652DD;
}

.lite-blue .showImage .card h2 {
  color: #0652DD;
}

.lite-blue .showImage .card p {
  color: #0652DD;
}

.lite-blue .contact .container h2 {
  color: #0652DD;
}

.lite-blue .contact .container .right input {
  color: #0652DD;
}

.lite-blue .contact .container .info .label {
  color: #0652DD;
}

.lite-blue .contact .container .info a {
  color: #0652DD;
}

.lite-blue .contact .container .info .social {
  color: #0652DD;
}

.dark-blue .page-head .page-title {
  color: #1B1464;
}

.dark-blue .page-head .page-description {
  color: #1B1464;
}

.dark-blue .aboutUS .contentBox h2 {
  color: #1B1464;
}

.dark-blue .aboutUS .contentBox p {
  color: #1B1464;
}

.dark-blue .ourServices .servicesBox .serviceColl h2 {
  color: #1B1464;
}

.dark-blue .ourServices .servicesBox h2 {
  color: #1B1464;
}

.dark-blue .ourWork .workBox h2 {
  color: #1B1464;
}

.dark-blue .showImage .card h2 {
  color: #1B1464;
}

.dark-blue .showImage .card p {
  color: #1B1464;
}

.dark-blue .contact .container h2 {
  color: #1B1464;
}

.dark-blue .contact .container .right input {
  color: #1B1464;
}

.dark-blue .contact .container .info .label {
  color: #1B1464;
}

.dark-blue .contact .container .info a {
  color: #1B1464;
}

.dark-blue .contact .container .info .social {
  color: #1B1464;
}

.orange-themes .page-head .page-title {
  color: rgb(238, 90, 36);
}

.orange-themes .page-head .page-description {
  color: rgb(238, 90, 36);
}

.orange-themes .aboutUS .contentBox h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .aboutUS .contentBox p {
  color: rgb(238, 90, 36);
}

.orange-themes .ourServices .servicesBox .serviceColl h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .ourServices .servicesBox h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .ourWork .workBox h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .showImage .card h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .showImage .card p {
  color: rgb(238, 90, 36);
}

.orange-themes .contact .container h2 {
  color: rgb(238, 90, 36);
}

.orange-themes .contact .container .right input {
  color: rgb(238, 90, 36);
}

.orange-themes .contact .container .info .label {
  color: rgb(238, 90, 36);
}

.orange-themes .contact .container .info a {
  color: rgb(238, 90, 36);
}

.orange-themes .contact .container .info .social {
  color: rgb(238, 90, 36);
}

.red-themes .page-head .page-title {
  color: rgb(234, 32, 39);
}

.red-themes .page-head .page-description {
  color: rgb(234, 32, 39);
}

.red-themes .aboutUS .contentBox h2 {
  color: rgb(234, 32, 39);
}

.red-themes .aboutUS .contentBox p {
  color: rgb(234, 32, 39);
}

.red-themes .ourServices .servicesBox .serviceColl h2 {
  color: rgb(234, 32, 39);
}

.red-themes .ourServices .servicesBox h2 {
  color: rgb(234, 32, 39);
}

.red-themes .ourWork .workBox h2 {
  color: rgb(234, 32, 39);
}

.red-themes .showImage .card h2 {
  color: rgb(234, 32, 39);
}

.red-themes .showImage .card p {
  color: rgb(234, 32, 39);
}

.red-themes .contact .container h2 {
  color: rgb(234, 32, 39);
}

.red-themes .contact .container .right input {
  color: rgb(234, 32, 39);
}

.red-themes .contact .container .info .label {
  color: rgb(234, 32, 39);
}

.red-themes .contact .container .info a {
  color: rgb(234, 32, 39);
}

.red-themes .contact .container .info .social {
  color: rgb(234, 32, 39);
}

.dark-themes .page-head .page-title {
  color: #130f40;
}

.dark-themes .page-head .page-description {
  color: #130f40;
}

.dark-themes .aboutUS .contentBox h2 {
  color: #130f40;
}

.dark-themes .aboutUS .contentBox p {
  color: #130f40;
}

.dark-themes .ourServices .servicesBox .serviceColl h2 {
  color: #130f40;
}

.dark-themes .ourServices .servicesBox h2 {
  color: #130f40;
}

.dark-themes .ourWork .workBox h2 {
  color: #130f40;
}

.dark-themes .showImage .card h2 {
  color: #130f40;
}

.dark-themes .showImage .card p {
  color: #130f40;
}

.dark-themes .contact .container h2 {
  color: #130f40;
}

.dark-themes .contact .container .right input {
  color: #130f40;
}

.dark-themes .contact .container .info .label {
  color: #130f40;
}

.dark-themes .contact .container .info a {
  color: #130f40;
}

.dark-themes .contact .container .info .social {
  color: #130f40;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #EAB543;
  font-family: "Open Sans", sans-serif;
}

body.open {
  font-family: "Open Sans", sans-serif;
}

body.public {
  font-family: "Public Sans", sans-serif;
}

body.Alkalami {
  font-family: "Alkalami", serif;
}

body.Cairo {
  font-family: "Cairo", sans-serif;
}

body.source {
  font-family: "Source Sans Pro", sans-serif;
}

body.roboto {
  font-family: "Roboto", sans-serif;
}

.one {
  font-size: 0.5rem;
}

.two {
  font-size: 0.75rem;
}

.three {
  font-size: 1rem;
}

.four {
  font-size: 1.25rem;
}

.five {
  font-size: 1.5rem;
}

.sex {
  font-size: 1.75rem;
}

.seven {
  font-size: 2rem;
}

.page {
  min-height: 100vh;
}

.page .setting-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #F8EFBA;
  z-index: 1000;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .setting-box.hide-setting {
  right: -250px;
}

.page .setting-box .settingGear {
  position: absolute;
  left: -31px;
  top: 100px;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
}

.page .setting-box .settingGear .settingIcons {
  color: #FC427B;
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(1) {
  background-color: #130f40;
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(2) {
  background-color: #0652DD;
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(3) {
  background-color: #1B1464;
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(4) {
  background-color: rgb(238, 90, 36);
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(5) {
  background-color: rgb(234, 32, 39);
}

.page .setting-box .setting-content .colorOptions ul li:nth-child(6) {
  background-color: #58B19F;
}

.page .setting-box .setting-content .colorOptions ul li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  display: inline-block;
}

.page .setting-box .setting-content .colorOptions ul li.active {
  opacity: 1;
}

.page .setting-box .setting-content .option-box h4 {
  color: #58B19F;
  font-weight: bold;
  margin: 10px 0 15px;
}

.page .setting-box .setting-content .fontOptions .form-control,
.page .setting-box .setting-content .sizeOption .form-control {
  font-weight: 700;
}

.page .sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #F8EFBA;
  color: #58B19F;
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .sidebar.no-sidebar {
  left: -250px;
}

.page .sidebar .logo-area {
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
  font-size: 2rem !important;
  color: #58B19F !important;
  width: 160px;
  height: 70px;
  margin-top: 10px;
  margin-left: 35px;
  padding-top: 8px;
  border: 2px solid #f8efba;
  border-radius: 25%;
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.page .sidebar .links-area li a {
  color: #4ed1b0;
  padding: 10px;
  display: block;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .sidebar .links-area li .iconSize {
  right: 20px;
  bottom: 12px;
  border: 2px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.page .sidebar .links-area li .iconSize.down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.page .sidebar .links-area>li>a {
  position: relative;
  color: #58B19F;
}

.page .sidebar .links-area>li>a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #58B19F;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page .sidebar .links-area>li>a:hover {
  padding-left: 25px;
}

.page .sidebar .links-area .child-links {
  display: none;
}

.page .sidebar .links-area .child-links a::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #4ed1b0;
}

.page .sidebar .links-area .child-links a:hover::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #58B19F;
}

.page .content-area {
  width: calc(100% - 250px);
  min-height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: width;
  float: right;
}

.page .content-area.no-sidebar {
  width: 100%;
}

.page .content-area .photoHomePage {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.page .content-area .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 1;
}

.page .content-area .header {
  padding: 20px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page .content-area .header .mainPhoto {
  width: 100%;
  padding: 5px;
  margin: auto;
  position: relative;
  height: 1005px;
}

.page .content-area .header .toggle-sidebar {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: -30px;
  z-index: 100;
}

.page .content-area .header .notification-container {
  display: inline-block;
  margin-left: 7px;
}

.page .content-area .header .notification-container .notificationIcone {
  background-color: #F8EFBA;
  color: #1B9CFC;
  border: 2px solid #F8EFBA;
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.page .content-area .header .notification-container .notificationsUl {
  border-radius: 20px;
  background-color: #F8EFBA;
  cursor: pointer;
  top: 10px !important;
  left: -29px !important;
  border: none;
  min-width: 300px;
}

.page .content-area .header .notification-container .notificationsUl li {
  margin-top: 5px;
}

.page .content-area .header .notification-container .notificationsUl li a {
  color: #58B19F;
  font-weight: 500;
}

.page .content-area .header .notification-container .notificationsUl li a:hover {
  font-weight: bold;
  background-color: #F8EFBA;
  color: #1B9CFC;
  border-radius: 11px;
}

.page .content-area .header .notification-container .notificationsUl li a .spanNotification {
  position: absolute;
  top: 14px;
  right: 15px;
  background-color: #25CCF7;
  color: #F8EFBA;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-left: 9px;
  padding-top: 3px;
  z-index: 1000;
}

.page .content-area .header .notification-container .notificationsUl li a .spanNotification:hover {
  background-color: transparent;
  color: #1B9CFC;
}

.page .content-area .header .notification-container .notificationsUl li a .spanMessage {
  position: absolute;
  top: 80px;
  right: 15px;
  background-color: #25CCF7;
  color: #F8EFBA;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 3px;
  z-index: 1000;
}

.page .content-area .header .notification-container .notificationsUl li a .spanMessage:hover {
  background-color: transparent;
  color: #1B9CFC;
}

.page .content-area .header .notification-container .notificationsUl::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 35px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent #F8EFBA transparent;
}

.page .content-area .header .userMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 200;
}

.page .content-area .header .userMenu .photoMenu {
  width: 40px;
  height: 40px;
}

.page .content-area .header .userMenu .spanMenu {
  color: #F8EFBA;
}

.page .content-area .header .userUl {
  min-width: 600px;
  border: none;
  padding: 20px;
  top: 5px !important;
  border: 1px solid #ddd;
  background-color: #F8EFBA;
}

.page .content-area .header .userUl::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 70px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #ddd transparent;
}

.page .content-area .header .userUl .userName {
  color: #58B19F;
}

.page .content-area .header .userUl .userInfo {
  color: #4ed1b0;
}

.page .content-area .header .userUl .activites-list {
  color: #4ed1b0;
}

.page .content-area .header .userUl .userLinks .link-box .userIcons,
.page .content-area .header .userUl .userLinks .link-box span {
  color: #58B19F;
  cursor: pointer;
}

.page .content-area .header .headerIcons {
  cursor: pointer;
  z-index: 100;
  color: #F8EFBA;
}

.page .content-area .header .toggle-fullscreen {
  position: absolute;
  top: 10px;
  left: 55px;
}

.page .content-area .header .page-head {
  margin-top: 20px;
  padding: 20px;
  z-index: 3;
  background-color: rgba(248, 239, 186, 0.5);
  position: absolute;
  top: 95px;
  left: -32px;
  width: 70%;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
}

.page .content-area .header .page-head .page-description {
  line-height: 2rem;
}

.page .aboutUS .contentBox p {
  line-height: 2rem;
}

.page .aboutUS .contentBox .imgAbout {
  width: 310px;
  height: 400px;
  border-radius: 10%;
  border: 2px solid #000;
}

.page .ourServices {
  background-color: #25CCF7;
}

.page .ourServices .servicesBox .serviceColl {
  border: 2px solid #fff;
  margin: 0px 0 30px 0;
  background-color: #f8efba;
  -webkit-box-shadow: 0px 0px 10px 5px #eab543;
  box-shadow: 0px 0px 10px 5px #eab543;
  margin-right: 20px;
  width: 31%;
  border-radius: 10%;
}

.page .ourServices .servicesBox .serviceColl .brandIcons {
  margin-left: 43%;
  width: 55px;
  height: 70px;
}

.page .ourWork .workBox .workPhoto {
  min-width: 90%;
  height: 220px;
  border-radius: 20%;
  -webkit-box-shadow: 5px 5px 25px 2px #333;
  box-shadow: 5px 5px 25px 2px #333;
  border: 2px solid #000;
}

.page .showImage {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.page .showImage::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 100%;
  background-color: #1B9CFC;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) skew(0, -10deg);
  transform: translateX(-50%) skew(0, -10deg);
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: waving 10s ease-in-out infinite alternate;
  animation: waving 10s ease-in-out infinite alternate;
}

.page .showImage .card {
  width: 300px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #ddd inset;
  box-shadow: 0 0 10px #ddd inset;
}

.page .showImage .card img {
  max-width: 100%;
  border-radius: 20px;
  border: 2px solid #000;
}

.page .showImage .card h2 {
  margin: 10px auto 10px auto;
  line-height: 1;
}

.page .showImage .card p {
  margin: 0;
  line-height: 1;
}

@-webkit-keyframes waving {
  from {
    -webkit-transform: translateX(-50%) skew(0, -10deg);
    transform: translateX(-50%) skew(0, -10deg);
  }

  to {
    -webkit-transform: translateX(-30%) skew(10deg, 0);
    transform: translateX(-30%) skew(10deg, 0);
  }
}

@keyframes waving {
  from {
    -webkit-transform: translateX(-50%) skew(0, -10deg);
    transform: translateX(-50%) skew(0, -10deg);
  }

  to {
    -webkit-transform: translateX(-30%) skew(10deg, 0);
    transform: translateX(-30%) skew(10deg, 0);
  }
}

.page .contact {
  min-height: 600px;
  background-image: url("/NewWebDesign/Uwalla/Data/m1.jpg");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.page .contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.page .contact .container {
  position: relative;
  z-index: 2;
}

.page .contact h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
}

.page .contact form {
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.page .contact form .left {
  float: left;
  width: 49%;
}

.page .contact form .right {
  float: right;
  width: 49%;
}

.page .contact form input:not([type=submit]),
.page .contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  background-color: rgba(218, 218, 218, 0.19);
}

.page .contact form input:not([type=submit]):focus,
.page .contact form textarea:focus {
  outline: none;
}

.page .contact form input {
  height: 40px;
}

.page .contact form textarea {
  min-height: 150px;
}

.page .contact form input[type=submit] {
  padding: 7px;
  width: 100%;
  border-color: transparent;
  background-color: #25CCF7;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
}

.page .contact form textarea:focus::-webkit-input-placeholder,
.page .contact form input:not([type=submit]):focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus::-ms-input-placeholder,
.page .contact form input:not([type=submit]):focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus::-webkit-input-placeholder,
.page .contact form input:not([type=submit]):focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus::-moz-placeholder,
.page .contact form input:not([type=submit]):focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus:-ms-input-placeholder,
.page .contact form input:not([type=submit]):focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus::-ms-input-placeholder,
.page .contact form input:not([type=submit]):focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.page .contact form textarea:focus::placeholder,
.page .contact form input:not([type=submit]):focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .contact .info {
  padding: 60px 0 60px 0;
  text-align: center;
}

.page .contact .info .label {
  font-size: 2.5rem;
}

.page .contact .info .link {
  text-decoration: none;
  font-size: 2rem;
}

.page .contact .info .social {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.page .contact .info .social .youTube,
.page .contact .info .social .faceBook,
.page .contact .info .social .twitter {
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.page .footer {
  background-color: #1B9CFC;
  color: #F8EFBA;
  line-height: 2.5rem;
  padding: 25px;
  text-align: center;
  font-size: 20px;
}

.page .footer span {
  font-weight: bold;
  color: #EAB543;
  font-size: 22px;
}

.clearfix {
  clear: both;
}

@media (max-width: 576px) {
  .page .sidebar {
    width: 150px;
    padding: 5px;
    left: -150px;
  }

  .page .sidebar.no-sidebar {
    left: 0;
  }

  .page .sidebar .logo-area {
    width: 138px;
    margin-left: 1px;
  }

  .page .content-area {
    width: 100%;
  }

  .page .content-area.no-sidebar {
    width: calc(100% - 150px);
  }

  .page .content-area .newHeight {
    height: 695px;
  }

  .page .content-area .header .userMenu {
    width: 96px;
    height: 65px;
  }

  .page .content-area .header .userUl {
    min-width: 450px;
    left: -86px !important;
    height: 255px;
  }

  .page .content-area .header .page-head {
    margin-top: -15px;
    padding: 10px;
    width: 95%;
    height: 40%;
    overflow: hidden;
  }

  .page .content-area .header .page-head .page-description {
    margin-top: -5px !important;
  }

  .page .aboutUS .contentBox .contentBoxDiv {
    width: 100%;
  }

  .page .ourServices {
    margin-top: 0;
    height: 2265px !important;
  }

  .page .ourServices .servicesBox {
    position: relative;
    height: 70px !important;
    top: 0px;
  }

  .page .ourServices .servicesBox .newSize {
    height: 50px;
  }

  .page .ourServices .servicesBox .serviceColl {
    width: 95%;
    display: block;
    height: 325px;
    overflow: hidden;
    margin-top: 5px !important;
  }

  .ourServices .servicesBoxTwo {
    top: 1105px !important;
  }

  .page .ourWork .workBox {
    height: auto !important;
  }

  .ourWork .workBox {
    margin-bottom: -50px !important;
  }

  .ourWork .workBox .workImage {
    width: 50%;
    margin-bottom: 50px !important;
  }

  .page .showImage {
    margin-top: 125px !important;
  }

  .page .showImage .card {
    width: 255px;
  }

  .page .showImage .card h2 {
    margin-top: 1px;
  }

  .page .showImage .card p {
    margin-bottom: -10px;
  }

  .page .contact .info .link {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .page .content-area .newHeight {
    height: 695px;
  }

  .page .content-area .header .userMenu {
    width: 96px;
    height: 65px;
  }

  .page .content-area .header .userUl {
    min-width: 450px;
    left: -86px !important;
    height: 255px;
  }

  .page .content-area .header .page-head {
    margin-top: -15px;
    padding: 10px;
    width: 95%;
    height: 40%;
  }

  .page .content-area .header .page-head .page-description {
    margin-top: -5px !important;
  }

  .page .aboutUS .contentBox .contentBoxDiv {
    width: 100%;
  }

  .page .ourServices {
    margin-top: 0;
    height: 2265px !important;
  }

  .page .ourServices .servicesBox {
    position: relative;
    height: 70px !important;
    top: 0px;
  }

  .page .ourServices .servicesBox .newSize {
    height: 50px;
  }

  .page .ourServices .servicesBox .serviceColl {
    width: 95%;
    display: block;
    height: 325px;
    overflow: hidden;
    margin-top: 5px !important;
  }

  .ourServices .servicesBoxTwo {
    top: 1105px !important;
  }

  .page .ourWork .workBox {
    height: auto !important;
  }

  .ourWork .workBox {
    margin-bottom: -50px !important;
  }

  .ourWork .workBox .workImage {
    width: 50%;
    margin-bottom: 50px !important;
  }

  .page .showImage {
    margin-top: 125px !important;
  }

  .page .showImage .card {
    width: 255px;
  }

  .page .showImage .card h2 {
    margin-top: 1px;
  }

  .page .showImage .card p {
    margin-bottom: -10px;
  }
}